/* Geral */
* {
    padding: 0;
    margin: 0;
    font-family: "Space Grotesk", sans-serif;
}

body {
    background: linear-gradient(180deg, #7c73de 0%, #06476a 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/*classe serve para esconder algumas areas que não quero
que seja exibida*/
.hide {
    display: none;
}

/*Container principal*/
.container {
    background-color: #1a1938;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
    color: #fdfdfd;
    border-radius: 1rem;
}

/* Form (Formulário)*/
.form h3 {
    margin-bottom: 1rem;
    
}

.form-input-container {
    display: flex;
}

.form input {
    padding: .8rem;
    border: none;
    flex: 1;
    border-radius: 4px;
}

.form button {
    padding: 0.8rem;
    min-width: 50px;
    margin-left: 8px;
    background-color: #b2daf1;
    color: #0815a7;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form button:hover {   
    background-color: #fff;
    color: #5c54ed;  
}

/* Clima */
#weather-data {
    border-top: 1px solid #fff;
    margin-top: 2rem;
    padding-top: 2rem;
    text-align: center;
}

#weather-data h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.6rem;
}

#weather-data h2 i {
   font-size: 1rem; 
}

#weather-data span {
    margin: 0.6rem;
}

#coutry {
    height: 15px;
}

#description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem 0;
}

#description {
    font-weight: bold;
    text-transform: capitalize;
}

#details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.6rem ;
}

#details-container #umidity {
    border-right: 1px solid #43e769;
    margin: 0.9rem;
    padding: 0.9rem;
}


.box-degrader {
    width: auto;
    padding: 6px 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background-image: linear-gradient(to left, #b0aee6, #ed5729d5, #eded86);
    background-size: 500% 100%;/*eixo x e eixo y*/
    animation: degrade-animado 3s infinite alternate ;
}

@keyframes degrade-animado{
    0%{
        background-position-x: 0%;
    }
    100%{
        background-position-x: 100%;
    }
}